<section id="sports" class="sports cards">
  <div class="grid">
    <div class="column col-100">
      <h2>Tornei</h2>
    </div>
    <div class="column col-100">
      <div class="grid">
        <div class="card column col-30">
          <a class="card-image" href="{{ "/sport/football" | relative_url }}">
            <img src="{{ "/assets/images/sport/football.jpg" | relative_url }}" alt="Calcio">
            <span></span>
          </a>
          <div class="card-content">
            <h3>Calcio</h3>
            <p>
              Calcio a 8 e calcio a 5.
            </p>
            <a class="button" href="{{ "/sport/football" | relative_url }}">
              Scopri di più
            </a>
          </div>
        </div>
        <div class="card column col-30">
          <a class="card-image" href="{{ "/sport/basketball" | relative_url }}">
            <img src="{{ "/assets/images/sport/basketball.jpg" | relative_url }}" alt="Basket">
            <span></span>
          </a>
          <div class="card-content">
            <h3>Basket</h3>
            <p>
              Pallacanestro mista 3vs3.
            </p>
            <a class="button" href="{{ "/sport/basketball" | relative_url }}">
              Scopri di più
            </a>
          </div>
        </div>
        <div class="card column col-30">
          <a class="card-image" href="{{ "/sport/volleyball" | relative_url }}">
            <img src="{{ "/assets/images/sport/volleyball.jpg" | relative_url }}" alt="Pallavolo">
            <span></span>
          </a>
          <div class="card-content">
            <h3>Pallavolo</h3>
            <p>
              Pallavolo mista 6vs6.
            </p>
            <a class="button" href="{{ "/sport/volleyball" | relative_url }}">
              Scopri di più
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>